#lesson280 {
	display:none;
}

#lesson280 .col-img {
	text-align:center;
}

#lesson280 .col-ok img.is_inM,
#lesson280 .col-ok img.is_afM
{
	width:165px;
	margin-top:87px;
}
#lesson280 .col-ok img.is_asM,
#lesson280 .col-ok img.is_arM
{
	width:115px;
	margin-top:87px;
}
#lesson280 .col-ok img.is_sam
{
	width:121px;
	margin-top:87px;
}
#lesson280 .col-ok img.is_arW,
#lesson280 .col-ok img.is_asW,
#lesson280 .col-ok img.is_inW,
#lesson280 .col-ok img.is_sue
{
	width:110px;
	margin-top:87px;
}

#lesson280 .col-ok img.is_afW
{
    width: 85px;
	margin-top:87px;
}

#lesson280 .col-bad img.is_arM,
#lesson280 .col-bad img.is_inM,
#lesson280 .col-bad img.is_afM
{
	width:140px;
	margin-top:87px;
}
#lesson280 .col-bad img.is_asM
{
	width:115px;
	margin-top:87px;
}
#lesson280 .col-bad img.is_sam
{
	width:121px;
	margin-top:87px;
}
#lesson280 .col-bad img.is_asW,
#lesson280 .col-bad img.is_inW,
#lesson280 .col-bad img.is_sue,
#lesson280 .col-bad img.is_arW
{
	width:110px;
	margin-top:87px;
}

#lesson280 .col-bad img.is_afW
{
    width: 80px;
	margin-top:87px;
}
#lesson280 .col-bad-txt {
	padding-top:149px;
}

#lesson280 .col-ok-txt {
	padding-top: 129px;
}
	
#lesson280 .col-bad-txt h3,
#lesson280 .col-ok-txt h3 {
	color:#4E4E4E;
	font-size:20px;
	line-height:20px;
	padding-bottom:20px;
}

#lesson280 .col-bad-txt p.bot-buttons,
#lesson280 .col-ok-txt p.bot-buttons {
	text-align:center;
	background-color:transparent;
}

#lesson280 p.bold {
	font-weight:600;
}
#lesson280 p.bold span {
	font-weight:normal;
}

#lesson280 button.b-xx-close { margin-top:12px; }

/* certificate */
#lesson281 {
	display:none;
}

