div.top-progress {
	display:none;
  	position:absolute;
	top: 0;
    left: 300px; 
    height: 40px;
}

div.top-progress .pr-item .line {
	display:inline-block;
	position:absolute;
	top:9px; left:3px;
	height:4px; width:0;
	background-color:#EE8027;
	z-index:5;
}

div.top-progress .pr-item {
	display:inline-block;
	position:relative;
	height:22px; width:80px;
	line-height:22px;
	vertical-align:middle;
}

div.top-progress .pr-item:before {
	display:block;
	content: " ";
	position:absolute;
	top:0px; left:0px;
	width:22px; height:22px;
	background-color:#fff;
	border-radius:11px;
	border:1px solid #65b8c0;
	z-index:2;
}
div.top-progress .pr-item:after {
	display:block;
	content: " ";
	position:absolute;
	background-color:#fff;
	top:6px; left:20px;
	width:60px; height:10px;
	z-index:3;
	border-top:1px solid #65b8c0;
	border-bottom:1px solid #65b8c0;
	border-right: 1px solid #fff;
}

div.top-progress .pr-end .ball,
div.top-progress .pr-item .ball {
	display:inline-block;
	position:absolute;
	top:3px; left:3px;
	height:16px; width:16px;
	background-color:#EE8027;
	border-radius:8px;
	border:0 none;
	z-index:2;
}

/*
div.top-progress .ball-l:after {
	display:block;
	content: " ";
	position:absolute;
	background-color:#fff;
	top: 4px;
	left: 17px;
	width: 10px;
	height: 9px;
	z-index:2;
}
*/

div.top-progress .pr-item .item-txt {
	display:inline-block;
	position:absolute;
	top:26px; left:0;
	width:133%;
	color:#009ee2;
	z-index:2;
	font-size:13px;
	line-height:13px;
	text-align:center;
}

div.top-progress .pr-end {
	display:inline-block;
	position:relative;
	width:22px; height:22px;
	background-color:#fff;
	border-radius:11px;
	border:0 none;
	vertical-align:middle;
}

div.top-progress .pr-end:before {
	display:block;
	content: " ";
	position:absolute;
	background-color:#fff;
	top:0px;
	left:0px;
	width: 22px;
	height: 22px;
	width:22px; height:22px;
	border-radius: 11px;
	border: 1px solid #65b8c0;
	z-index:1;
}

div.top-progress .txt {
	display:inline-block;
	color:#009ee2;
	padding-left:10px;
	font-size:1px;
	line-height:1px;
	height:40px;
	vertical-align:middle;
}
div.top-progress .txt span {
	display:inline-block;
	line-height:39px;
	font-size:14px;
	height:16px;
	vertical-align:middle;
	color:#fff;
}
.dws-menu div.top-progress .txt span { text-transform:none; }

div.top-progress .progress1 .pr-item { width:324px; }
div.top-progress .progress1 .pr-item:after { width:310px; }

div.top-progress .progress3 .pr-item { width:80px; }
div.top-progress .progress3 .pr-item:after { width:66px; }
